/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}

/* Globals */
:root {
    --cream: #F4EED7;
    --white: rgb(255, 255, 255);
    --tan: #7b6e5d;
}

body {
    background: url(logo/BackImage2.jpg) no-repeat center/cover;
    height: 100%;
}

/* Navigation Bar */
#navBarContainer {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    height: 110px;
    background-color: rgb(20, 20, 20);
}

#navBar {
  width: 100%;
  height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/* side bar */
.sidebar {
  /* overflow-x:hidden; */
  padding-top: 112px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 50dvw;
    border-bottom-left-radius: 8px;
    z-index: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: start;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(20px);
    transition:all 0.6s ease;
     transform:translateX(+54dvw);
     box-shadow: 1px 1px 25px 1px black;

}

.sidebar li {
  overflow: hidden;
    height: 60px;
    width: 100%;
}

.sidebar a {
    display: flex;
    font-size: 16px;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    align-items: center;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-out;
    transform-origin: left center; /*dont let overflow to left*/

}

.sidebar li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(0, 0, 0);
    transform: scale(1.08);
}
/* three bar Toggle */
     input {
        display: none;
        visibility: hidden;
        width: 12px;
        height: 12px;
        -webkit-appearance: none;
        appearance: none;
      }

      .toggle {
        position:absolute;
        height: 28px;
        width: 28px;
        z-index: 2;
        cursor: pointer;
        top: 45px;
        right: 20px;
      }

      .toggle .common {
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: #ffffff;
        border-radius: 50px;
        transition: 0.6s ease;
      }

      .top_line {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .middle_line {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .bottom_line {
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      input:checked ~ .toggle .top_line {
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(45deg);
      }

      input:checked ~ .toggle .middle_line {
        opacity: 0;
      }

      input:checked ~ .toggle .bottom_line {
        left: 2px;
        top: 14px;
        width: 25px;
        transform: rotate(-45deg);
      }
      input:checked ~ .sidebar{
        transform:translate(0);
      }

/* logo */
#imglogo {
    padding: 8px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

/* logo Name */
#liLogo {
    display: flex;
    align-items: center;
}

#liLogo h1 {
    /* color: var(--tan); */
    color: rgb(199, 199, 199);
}

/* main page Quote */
#divQuote {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 100%; */
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 24px;
    margin-bottom: 10%;
    padding: 12px;
    backdrop-filter: blur(24px);
  
}

#p1Quote {
    text-align: center;
    font-size: 50%;
    padding: 5px;
    color: var(--cream);
    border: 1px solid var(--cream);
    border-radius: 15px;
}

#h2Quote {
    /* width:300px; */
    font-size: 30px;
    text-align: center;
    color: var(--white);

}

#p2Quote {
   text-align: start;
   font-weight: 600;
    color: rgba(255, 255, 255, 0.584);
}

#spanQuote {
    display: flex;
    padding: 16px;
}

.Quotebuttons {
    width: 180px;
    height: 48px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.12);
    color: var(--white);
    /* box-shadow: -10px 10px 45px 1px rgb(0, 0, 0); */
    cursor: pointer;
    transition: all 0.4s ease;
}
.Quotebuttons:hover{
    /* border-bottom:2px solid rgb(255, 255, 255); */
 background-color:#f5f5f5 ;
  font-weight: bold;
 /* font-size: 16px; */
 color: black;
}

/* Grid */
#TempImageGrid{
  /* position: relative; */
  /* background:cover; */
  max-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
}
.image:nth-child(1){
  background: url(logo/BackImage8.jpg) no-repeat center/cover;
  height: 500px;
}
.image:nth-child(2){
  background: url(logo/BackImage6.jpg) no-repeat center/cover;
  height: 500px;
}
