/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}
/* custom fonts */
    @font-face {
    font-family: 'Mistral';
    font-style: normal;
    font-weight: normal;
    src: local('Mistral'), url('MistralFont/MISTRAL.woff') format('woff');
    }
    @font-face {
      font-family: "Ginger";
      src:local("Ginger"), url(GingerFont/Ginger.woff) format("woff");
    }
/* Globals */
:root {
  --cream: #F4EED7;
  --white: rgb(250, 252, 235);
  --tan: #7b6e5d;
}

body {
  background: url(logo/BackImage2.jpg) no-repeat center/cover;
  height: 100%;
}

/* Navigation Bar */
#navBarContainer {
  position: sticky;
  top: 0;
  z-index: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  height: 110px;
  background-color: rgb(20, 20, 20);
}

#navBar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* side bar */
.sidebar {
  overflow-x: hidden;
  padding-top: 1px;
  position: fixed;
  padding-top: 114px;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 100dvw;
  transform: translateY(-114dvh);
  transform-origin:right;
  border-bottom-left-radius: 8px;
  z-index: 2;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: all 0.5s ease;
  opacity:0;



}

.sidebar li {
  overflow: hidden;
  height: 60px;
  width: 100%;
    /* border-radius: 20px; */
}

.sidebar a {
  display: flex;
  font-size: 12px;
  height: 100%;
  padding: 0 20px;
  font-weight: 500;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  transition: all 0.2s ease-out;
  transform-origin: left center;
  /*dont let overflow to left*/

}
.sidebar li a:hover{
  text-shadow: -0px 2px 6px white;
  font-size: 14px;
}
.sidebar li a:active{
 background-color: rgba(255, 255, 255, 0.3);
}

/* three bar Toggle */
input {
  display: none;
  visibility: hidden;
  width: 12px;
  height: 12px;
  -webkit-appearance: none;
  appearance: none;
}

.toggle {
  position: absolute;
  height: 28px;
  width: 28px;
  z-index: 3;
  cursor: pointer;
  top: 45px;
  right: 20px;
}

.toggle .common {
  position: absolute;
  height: 2px;
  width: 24px;
  background-color: #ffffff;
  border-radius: 50px;
  transition: 0.6s ease;
}
.top_line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.middle_line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom_line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:checked~.toggle .top_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
   scale:1.5;
}

input:checked~.toggle .middle_line {
  opacity: 0;
}

input:checked~.toggle .bottom_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
  scale:1.5;
}

input:checked~.sidebar {
  transform: translate(0);
  opacity:1;
}

/* logo */
#imglogo {
  padding: 8px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}

/* Logo Name */
#liLogo {
  display: flex;
  align-items: center;
}

#liLogo h1 {
  /* font-family: "Mistral"; */
  font-family: "Ginger";
  /* font-size: 30px; */
  color: rgb(199, 199, 199);
}

/* main page Quote */
#divQuote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
  margin-left: 12px;
  margin-top: 24px;
  margin-bottom: 10%;
  padding:24px 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
}     

#p1Quote {
  /* this is in logo */
  /* font-family: "Mistral"; */
  text-align: center;
  font-size: 40%;
  padding: 5px;
  color: var(--cream);

}

#h2Quote {
  padding-top:20px ;
  font-size: 30px;
  text-align: center;
  color: var(--white);
}

#p2Quote {
  padding-top: 24px;
  text-align: center;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.584);
}

#spanQuote {
  display: flex;
  margin: 24px;
}

.Quotebuttons {
  width: 180px;
  height: 48px;
  border: none;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.12);
  color: var(--white);
  cursor: pointer;
  transition: all 0.4s ease;
}

.Quotebuttons:hover {
  background-color: #f5f5f5;
  font-weight: bold;
  color: black;
}

/* Grid */
#TempImageGrid {
  /* position: relative; */
  /* background:cover; */
  max-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
}

.image:nth-child(1) {
  background: url(logo/BackImage8.jpg) no-repeat center/cover;
  height: 500px;
}

.image:nth-child(2) {
  background: url(logo/BackImage6.jpg) no-repeat center/cover;
  height: 500px;
}

/* media query */
@media screen and (min-width:1024px){
  #divQuote {
  margin-right: 64px;
  margin-left: 64px;
  margin-top: 34px;
  margin-bottom: 10%;

}
#spanQuote {
    display: flex;
    padding: 40px;
}
#h2Quote {
  font-size: 44px;
}
#p2Quote {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.584);
}
  
}
